
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/css/home/home.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MARVEL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {{if user}}
            <li><a href="#">欢迎！{{user.username}}</a></li>
            <li><a href="/logout">退出登录</a></li>
            {{else}}
            <li><a href="/">登录</a></li>
            {{/if}}
            <li><a href="#">帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/home">基本信息<span class="sr-only">(current)</span></a></li>
            <li><a href="/addhero">新增英雄</a></li>
            <li><a href="#">编辑英雄</a></li>
            <li><a href="#">强度评级</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">联盟信息</a></li>
            <li><a href="">联盟战争（AW）</a></li>
            <li><a href="">联盟副本（AQ）</a></li>
            <li><a href="">赛季奖励</a></li>
            <li><a href="">更多</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">英雄种群</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/public/img/banner/1.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>MARVEL</h4>
              <span class="text-muted">异人族</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/public/img/banner/2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>MARVEL</h4>
              <span class="text-muted">变种人</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/public/img/banner/3.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>MARVEL</h4>
              <span class="text-muted">复仇者</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/public/img/banner/4.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>MARVEL</h4>
              <span class="text-muted">天神组</span>
            </div>
          </div>

          <h2 class="sub-header">英雄列表</h2>
          <a href="/addhero" class="btn btn-success">新增英雄</a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>姓名</th>
                  <th>年龄</th>
                  <th>性别</th>
                  <th>系别</th>
                  <th>强度</th>
                  <th class="text-center">操作</th>
                </tr>
              </thead>
              <tbody>
                {{each herolist}}
                <tr>
                  <td>{{$index + 1}}</td>
                  <td>{{$value.name}}</td>
                  <td>{{$value.age}}</td>
                  <td>{{$value.gender}}</td>
                  <td>{{$value.classify}}</td>
                  <td>{{$value.press}}</td>
                  <td class="text-center">
                      <a href="/change?id={{$value._id}}" class="btn btn-success">编辑</a>
                      <a href="/delete?id={{$value._id}}" class="btn btn-danger">删除</a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
